.Feed-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0.2)), url("../Assets/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border : 10px solid black;
}